/* Header.css */

.header {
  height: 50px;
  /* El fondo ahora es fijo con el color que pediste */
  background-color: #1c2026; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 30px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  z-index: 20;
}

.header-right-content {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.logo {
  display: flex; 
  align-items: center; 
  gap: 0px; 
}

.logo-img {
  height: 50px;
  width: auto;
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
}